body{
margin: 0;
padding: 0;
background-color:#E3E6E3;
color: white;
font-family: helvetica,"Segoe UI",Arial,sans-serif;
}
.head{
    background-color: rgb(0, 146, 112);
    overflow: hidden;
    width: 1020px;
    word-spacing: 5px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 15px;
    
}
.logo{ 
    width: 13%;
    float: left;
    overflow: hidden;
    margin: -16px;
    height: 33px;
    bottom: -23px;
    position: relative;
    vertical-align: middle;
    padding-right: 0px;
    margin-right: 0px;
    
}
.content{
    
    text-align: center;
}
.menu{
    width: 90%;
    float: left;
    overflow: hidden;
    height: 42px;
    text-align: center;
    padding-left: 1px;
    margin-left:-45px;
    margin-right: 0px;
    
    
}
.tree{
    text-size-adjust: 12px;
}
.menu li{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    
}
.menu a{
font-size: 17px;
font-family:  Helvetica;
    color: rgb(249, 243, 243);
    
    text-decoration: none;
    margin: 0px;
    
    
    
}
.menu :hover{
    color: #4A4A4A;
}




.cricket-plus{
    width: 89px;
    height: 23px;
    text-align: center;
    top: 1%;
    border:2px solid #FFFFFF;
    border-radius: 15px;
    top: 0%;
    font-size: 12px;
    margin: 0px;
}
.search-box{
    position: absolute;
    top: -0.28%;
    left: 76%;
    transform: translate(-92%,5%);
    background : rgb(0, 146, 112);
    height: 32px;
    border-radius: 51px;
    padding: 0px;
    margin-right: 159PX;
    margin-left: 0px;
    padding-left: -10px;

}
.search-box:hover > .search-txt{
    width: 640px;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn{
   background: rgb(27, 183, 79);
     }
.search-btn{
    color:white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(0, 146, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 border: none;
 background: white;
 outline: none;
 float: left;
 padding: 0;
 color: rgb(12, 2, 2);
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}


.menu2{
    background-color: #4A4A4A;
    color: rgb(225, 232, 236);
    
    margin-left: 150px;
    margin-right: 150px;
    
    
    padding-left: 5px;
    width: 1015px;
    height: 25px;
    
    
    
    padding-top:6px;
    padding-bottom: 1px;
    


}
.menu2{
    overflow: hidden;
}
.menu2 :hover{
    color:#24957a;
}


    


.menu2 ul{
    padding: 0px;
    margin: 0px;
    padding-left: 1px;
    
}
.menu2 li{
    display: inline-block;
}
.menu2 a{
text-decoration: none;
font-size: 15px;
color: rgb(239, 232, 232);
padding: 7px;
text-align: center;
justify-content: center;
vertical-align: middle;
    text-align: left;




}
.run{
    margin: 0px;
    margin-top: -15px;
    padding: 0px;
    margin-left: 150px;
    font-size: 17px;
    color: rgb(0, 146, 112);
    background-color: #FFFFFF;
    width: 1020px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    line-height: 1.5;
    
    
}

.fcontainer{
    display: flex;
    margin-top: -18px;
    margin-left: 150px;
    border: 0.05px solid #FFFFFF;
    
    
    width:1020px;
    border-top: 0.1px solid  white;
    border-bottom: 0.1px solid white;
    background-color:#FFFFFF;
    text-align: center;

    

    }
    .fitem{
    border: 0.05px hidden;
    
        width: 233px;
        height: 85px;
        padding: 8px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        border-top: 0.1px solid  white;
        border-bottom: 0.1px solid white;
        background-color:#FFFFFF;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        color: #4A4A4A;
    
        
    }
    .fitem:first-child{
        
        
    }
    .space{
        word-spacing: 90px;

    }
    .space1{
        word-spacing: 0px;
        text-align:left;
        padding-left: 36px;
    }
    .runs{
        
        padding: 0px;
        margin-left: 150px;
        margin-top: -12px;
        font-size: 17px;
        color: rgb(0, 146, 112);
        background-color:#FFFFFF;
        width: 1020px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        
        /* display: inline; */
        
    }
    .fcontainer2{
        margin-left: 150px;
        margin-right: 0px;
        margin-top: -12px;
        border: 2px solid rgb(244, 243, 243);
        width: 150px;
        background-color:#FFFFFF;
        height: 1000px;
        text-decoration: none;
        font-size: 13px;
    }
    .fitems{

        border: 2px solid #FFFFFF;
        background-color:white;

        overflow: hidden;
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
        text-decoration: none;
        
    }
    .fitems li a{
        text-decoration: none;
        color: #110303;

    }
    .pic{
        width: 150px;
        background-color:#FFFFFF;
        height: 1000px;
        margin-left: 150px;
        margin-right: 0px;
        margin-top: -13px;
        
        text-decoration: none;
        
        font-size: 16px;
        text-align: center;
        
        
        
        

        

    }
    .diff{
        font-size: 15px;
        color: rgb(0, 146, 112);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .pics{
        color: #110303;

    }
    .qbc{
        width: 145px;
        height: 95px;
    }
    .fcontainer3{
        background-color:#FFFFFF;
        
        height: 2000px;
        width: 500px;
        margin-left: 154px;
        margin-top: 50px;
        


    }
    .content{
        color: black;
        color: black;
        color: black;
        color: black;
        
    }
    .container{
    border: 0.05px solid #FFFFFF;
    
        height: 420px;
        width: 500px;
        
        margin-left: 156px;
        margin-top: -1975px;
        
        margin-right: 0px;
        /* padding-left:12px; */
        background-color:#FFFFFF;
        text-align: center;
        color: black;
     font-size: 16px;


    }
    .runss{
        width: 360px;
        height: 366px;
        margin-left: 661px;
        margin-top: -421px;
        margin-bottom: 2px;
    border: 0.05px solid #FFFFFF;
    
        
        padding-top: 0px;
        color: rgb(0, 146, 112);
        background-color:#FFFFFF;
        text-align: center;
        
        

    }
    .fcontainer4{
        width: 363px;
        height: 1700px;
        margin-left: 500px;
        margin-top:-1534px;
        margin-bottom: 2px;
        border: 0.05px solid #FFFFFF;
        background-color: #FFFFFF;
    

    }
    .contents{

    }
    .vdo{
        width: 350px;
        height: 200px;
    }
    .conc{
        color: black;
        
        
        font-size: 22px;
    }
    .ind{
        color: brown;
    }
    .ind2{
        color: rgb(150, 217, 16);

    }
    .ind3{
        color: #4A4A4A;
    }
    .far fa-user-circle{
        top: 0%;
        left: 80%;
        color: #FFFFFF;
    }
    #format{
        margin-left:180px;
        width: 45px;
        background-color: #4A4A4A;
        color: white;
        border: none;
    }
    #format2{
        background-color: rgb(0, 146, 112);
        color: white;
        border: none;
    }
    #format3{
        width: 54px;
        background-color: rgb(0, 146, 112);
        color: white;
        border: none;
    }
  .far fa-user-circle{
    font-size: 29px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-right: 0px;
  }  
  .btn{
    border: none;
  }


    
    

