body{
margin: 0;
padding: 0;
background-color:#E3E6E3;
}
.head{
    background-color: rgb(0, 146, 112);
    overflow: hidden;
    width: 1020px;
    word-spacing: 15px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.logo{
    width: 20%;
    float: left;
    overflow: hidden;
    
}
.menu{
    width: 80%;
    float: left;
    overflow: hidden;
    
}
.menu li{
    display: inline-block;

}
.menu a{
font-size: 17px;
font-family:  Helvetica;
    color: rgb(249, 243, 243);
    
    text-decoration: none;

    
}
.menu2{
    background-color: #4A4A4A;
    color: rgb(246, 250, 253);
    margin: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding-right: 199;
    margin-bottom: 0px;
    padding-left: 0cm;
    width: 1020px;
}
.menu2{
    
    overflow: hidden;

    
}

.menu2 ul{
    padding: 0px;
    margin: 0px;
    padding-left: 150px;
    
}
.menu2 li{
    display: inline-block;
}
.menu2 a{
text-decoration: none;
font-size: 20px;
color: rgb(248, 244, 244);
padding: 7px;

}
.run{
    margin: 0px;
    margin-top: -15px;
    padding: 0px;
    margin-left: 150px;
    font-size: 17px;
    color: rgb(0, 146, 112);
    
}

.fcontainer{
    display: flex;
    margin-top: -18px;
    margin-left: 150px;
    border: 0.05px solid #FFFFFF;
    
    
    width:1020px;
    border-top: 0.1px solid  white;
    border-bottom: 0.1px solid white;
    background-color:#FFFFFF;
    

    }
    .fitem{
    border: 0.05px hidden;
    
        width: 233px;
        height: 85px;
        padding: 20px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        border-top: 0.1px solid  white;
        border-bottom: 0.1px solid white;
        background-color:#FFFFFF;
    
        
    }
    .fitem:first-child{
        word-spacing: 90px;
        
    }
    .runs{
        
        padding: 0px;
        margin-left: 150px;
        margin-top: -12px;
        font-size: 17px;
        color: rgb(0, 146, 112);
        background-color: antiquewhite;
        width: 1020px;
        
    }
    .fcontainer2{
        margin-left: 150px;
        margin-right: 0px;
        margin-top: -12px;
        border: 2px solid rgb(244, 243, 243);
        width: 150px;
        background-color:#FFFFFF;
    }
    .fitems{

        border: 2px solid rgb(231, 226, 226);
    }
    .container{
    border: 0.05px solid #FFFFFF;
    
        height: 408px;
        width: 500px;
        margin-left: 308px;
        margin-top: -439px;
        
        margin-right: 0px;
        padding-left:12px;
        background-color:#FFFFFF;



    }
    .runss{
        width: 285px;
        height: 400px;
        margin-left: 827px;
        margin-top: -409px;
    border: 0.05px solid #FFFFFF;
    
        padding: 28px;
        padding-top: 0px;
        color: rgb(0, 146, 112);
        background-color:#FFFFFF;
        
        

    }
    .ind{
        color: brown;
    }
    .ind2{
        color: rgb(150, 217, 16);
    }

